<div class="col-md-6">
    <h4><%= area.name %></h4>
    <p><%= area.shorten %></p>
    <%= link_to "More info", {controller: "cases", action: "show", id: area}, class:"btn btn-default"
    %> 
</div>