


<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          
          <div class="container">
            <div class="carousel-caption">
              <h1>Gino P. Naughton</h1>
              <p>Attorney and Counselor </p>
              <p><img src='https://s17.postimg.org/jubkkiy67/Screen_Shot_2016_11_14_at_6_28_23_PM.png' border='0' alt='Screen Shot 2016-11-14 at 6.28.23 PM'/></p>
            </div>
          </div>
        </div>
        
        
      </div>
    
    </div><!-- /.carousel -->




<div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://cobrand.lawinfo.com/common/attyimages/naughton_webFINAL.jpg">
            <h2 class="featurette-heading">About the Firm
                
            </h2>
            <p class="lead">If you or a loved one has been injured, or if a loved one has been killed due to the negligence or intentional act of another, I will provide the legal counseling and skillful representation you need. As an experienced Chicago Illinois Personal Injury Attorney, I am dedicated to serving clients throughout the Chicago area, including the southern suburbs, or anywhere in Illinois. </p>
            <p class="lead">

			I have practiced law for 27 years, and have prepared for and conducted trials my whole professional career. I have always represented the injured victim. I have successfully conducted trials and arbitrations in which clients have been awarded compensation of millions of dollars. I understand how insurance companies think and how to maximize your recovery. I know the rules and I am familiar with the area courtrooms. I will make sure that you have the edge in obtaining compensation for your injury.</p>
        </div>
</div>